// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "/usr/libexec/xdg-desktop-portal-gtk"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-gnome"
spawn-at-startup "/usr/libexec/lxqt-policykit-agent"
//spawn-at-startup "kanshi"
//spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,ssh"
//spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
//spawn-at-startup "dms" "run"
spawn-at-startup "tmux" "new-session" "-d"
spawn-sh-at-startup "sleep 10; exec $HOME/.local/bin/kDrive.AppImage"

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

