// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

// Work monitors Basel
output "HP Inc. HP 527pq CNK6090BL4" {
    scale 1.0
    position x=0 y=0
}

output "HP Inc. HP 527pm 1H36020DJ7" {
    focus-at-startup
    scale 1.0
    position x=2560 y=0
}

// Laptop: right of the Basel pair, left of the home pair
output "BOE 0x0CE0 Unknown" {
    scale 1.0
    position x=5120 y=0
}

// Home monitors (laptop on the left, then these two)
output "HP Inc. HP 24fh 3CM0330VYC   " {
    scale 1.0
    position x=7040 y=0
}

output "HP Inc. HP 24fh 3CM033045N   " {
    scale 1.0
    position x=8960 y=0
}

// TV in Olten
output "LG Electronics LG TV 0x01010101" {
    scale 1.5
    position x=1920 y=0
}

// Work monitor Brugg
output "HP Inc. HP E34m G4 CNC4140Q0S" {
    focus-at-startup
    scale 1.1

    layout {
        default-column-width { proportion 0.66667; }

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
    }
}
